<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    *{


        margin:0;
        padding:0;
        font-family: 'Roboto', sans-serif;      
    } 
    #img{
        position: absolute;
        z-index:-1;
        height: 100%;
        width: 100%;
    }

    #nom{
        position: absolute;
        top: 404px;
        left: 233px;
    }

    #titrepro{         
        position: absolute;
        top: 372px;
        left: 140px;
    }
</style>

{% block body %}

        

        <img id="img" src="C:\wamp\www\CFA\public\diplome.jpg">
        <h3 id="nom"> {{ stagiaire.nom }} {{ stagiaire.prenom }} </h3>


        <h3 id="titrepro">Titre Professionnel {{session.intitule}}</h3>

            
 

{% endblock %}