{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block body %}


        <div class="container">
        <div class="row">
            <div class="col-sm">
            <a class="nav-link" href="{{path('stagiaire_add')}}"><button type="button" class="btn btn-secondary">Ajouter un stagiaire</button></a>
            </div>

            <div class="col-sm">
            <a class="nav-link" href="{{path('formateur_add')}}"><button type="button" class="btn btn-secondary">Ajouter un formateur</button></a>
            </div>

            <div class="col-sm">
            <a class="nav-link" href="{{path('formateur_index')}}"><button type="button" class="btn btn-secondary">Ajouter une session</button></a>
            </div>
        </div>
        </div>




{% endblock %}