{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block body %}


        <div class="container">
        <div class="row">
            <div class="col-sm">
            <button type="button" class="btn btn-secondary">Ajouter un formateur</button>
            </div>
            <div class="col-sm">
            <button type="button" class="btn btn-secondary">Ajouter un stagiaire</button>
            </div>
            <div class="col-sm">
            <button type="button" class="btn btn-secondary">Ajouter une session</button>
            </div>
        </div>
        </div>




{% endblock %}