{% extends "base.html.twig" %}

{% block body %}
    {% if results != null %}
        <h5>Resultats : </h5>
        <ul>
            {% for result in results %}

                <li style="list-style:none">{{ result }}</li>  

            {% endfor %}
        </ul>
    {% endif %}  


    <h3>Recherche avancée</h3>
    {{ form(search_form) }}

{% endblock %}