{% extends 'base.html.twig' %}
{% block title %}Nouveau Module{% endblock %}
{% block body %}
<h4>Nouveau Module</h4>
    {{form(form)}}


        <div><h3> Liste des modules</h3></div>
       <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Intitule</th>
                </tr>
            </thead>
            <tbody>
                {% for module in categorie.compositionTheme %}
                <tr>
                    <td scope="row">{{ module.intitule }}</td>
                </tr>
            </tbody>
                {% endfor %}
                
{% endblock %}