{% extends 'base.html.twig' %}

{% block title %}Module : {{module.intitule }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div><h3> Liste des sessions du module : {{module.intitule}}</h3></div>
       <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Intitule</th>          
                </tr>
            </thead>
            <tbody>
                {% for session in module.compositionSession %}
                <tr>
                    <td scope="row"><a href="{{ path('session_show', {'id': session.dureeIntoSession.id}) }}">{{ session.dureeIntoSession.intitule }}</a></td>
                </tr>
            </tbody>
                {% endfor %}


{% endblock %}
